<!DOCTYPE html>
<html lang="en">

<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
  </div>


  {{>footer}}
</body>

</html>